<br />    
<div class="container text-center d-flex flex-column justify-content-sm-center align-items-sm-center">
    <div>
        <h1>Bem vindo ao Aplicativo Angular!</h1>
    </div>
    <div>
        <h3>Este é um aplicativo web feito com angular para testes</h3>
        <p>Você pode utilizar a api considerando a rota 'v1/users', ela responde a todos os metodos REST (Get ,Put, Post, e Delete)</p>
    </div>
    <div>
        <p>Utilize o menu superior para acessar as páginas do sistema de cadastro de usuários</p>
    </div>
</div>